@model Veb_projekat.Models.Appointment

@{
    ViewBag.Title = "Kreiraj Terapiju";
}

<h2>Kreiraj Terapiju</h2>

<p>
    @if (Model.Patient != null)
    {
        <strong>Pacijent:</strong> @Model.Patient.FirstName <span></span> @Model.Patient.LastName<br />
        <strong>Datum i vreme:</strong> @Model.DateTimeScheduled
    }
    else
    {
    <p>Podaci o pacijentu nisu dostupni.</p>
}
    </p>

    @using (Html.BeginForm("CreateTherapy", "Doctor", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.TherapyDescription)
            @Html.TextAreaFor(model => model.TherapyDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TherapyDescription)
        </div>

        <input type="hidden" name="appointmentId" value="@Model.Id" />

        <button type="submit" class="btn btn-primary">Kreiraj Terapiju</button>
    }
    <p style="margin-top: 20px;">
        <a href="@Url.Action("Index")" class="btn btn-secondary">Nazad na termine</a>
    </p>

