@model Veb_projekat.Models.Patient

<h2>Edituj Pacijenta</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @readonly = "readonly" })
    </div>
    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>
    <button type="submit">Sačuvaj</button>
}
<p style="margin-top: 20px;">
    <a href="@Url.Action("Index")" class="btn btn-secondary">Nazad na termine</a>
</p>
